In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data_path = "output.csv"
data = pd.read_csv(data_path)
data.describe()

             sentral         beacon           rssi       distance
count  278035.000000  278035.000000  278035.000000  278035.000000
mean        1.998734    1034.587969     -79.334364       1.570787
std         0.809217      14.122307       9.244595       0.836076
min         1.000000    1002.000000    -106.000000       0.005247
25%         1.000000    1028.000000     -86.000000       1.060459
50%         2.000000    1035.000000     -80.000000       1.473337
75%         3.000000    1048.000000     -74.000000       2.019653
max         3.000000    1050.000000     -41.000000       7.364238

In [9]:
data.head()

   sentral  beacon  rssi  distance                        ymdt
0        3    1028   -78  1.358874  2021-10-14 23:15:40.475862
1        3    1048   -78  1.358874  2021-10-14 23:15:40.498866
2        3    1050   -74  1.111073  2021-10-14 23:15:40.504867
3        3    1031   -80  1.514449  2021-10-14 23:15:40.510865
4        2    1048   -57  0.121365  2021-10-14 23:15:40.541862

In [6]:
from pandas_profiling import ProfileReport

In [8]:
profile = ProfileReport(data)
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦